/*
	Important Notes
	Heading size:;
	Paragraph Size:;
	Site Colors: #046307;
*/

.bg-enclave {background-color: #277903;}
.bg-grey {background-color: #fafafa;}
.text-gray {color: #fafafa;}
.text-enclave {color: #277903;}

.heading {
	font-size: 3em;
	line-height: 1.05em;
	/*font-family: 'Heebo', sans-serif;*/
}

.paragraph {
	font-size: 1.2em;
	line-height: 1.3753em;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Rubik', sans-serif;
	position: relative;
  	min-height: 100%;
  	padding-bottom: 300px;
}

.header-large {
	background: transparent linear-gradient(219deg, #37C887 0%, #277903 100%) 0% 0% no-repeat padding-box;
	border: 1px solid #707070;
	opacity: 1;
}

.header-large-book {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 100px;
}

.header-large-book>h1 {
	font-size: 100px;
}

.header-large-book>p{
	/* margin: auto; */
	/* width: 200px; */
	font-size: 25px;
}

.header-large-book>h6{
	margin-top: 60px;
	font-size: 20px;
}

.wte {

}

.wte p {
	margin-top: 32px;
	font-size: 1.3em;	
}

.loop {
	width: 397px;
	height: 40px;
	box-shadow: 0px 3px 6px #00000047;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
	opacity: 1;
}

.btn-email {
	color: #ffffff;
	border-radius: 0 15px 15px 0;
}

.btn-email:hover{
	color: #f1f1f1;
	background-color: #276b27;
}

.early-access-btn {
	background: transparent linear-gradient(180deg, #37C887 0%, #277903 100%) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	color: #ffffff;
	opacity: 1;
}

.early-access-btn:hover{
	color: #f1f1f1;
	background-color: red;
}

.tilt-image {
	transform: rotate(20deg);
}

/*Rotation of words at the top of landing page*/
.rw-words span{
	position: absolute;
	left: 0;
	opacity: 0;
	overflow: hidden;
	width: 100%;
}

/*Timing for each rotation*/
.rw-words-1 span{
	animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
	animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
	animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
	animation-delay: 9s; 
}
.rw-words span:nth-child(5) { 
	animation-delay: 12s; 
}
.rw-words span:nth-child(6) {  
	animation-delay: 15s; 
}

/*Animation for rotations*/
/* @keyframes rotateWordsFirst {
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    19% { opacity: 1; height: 60px; }
	25% { opacity: 0; height: 60px; }
    100% { opacity: 0; }
} */

/*Styling for the footer*/
footer {
	position: absolute;
 	bottom: 0;
 	padding-top: 100px;
 	height: 300px;
	width: 100%;
	color: #ffffff;
	background: transparent linear-gradient(261deg, #37C887 0%, #277903 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
}

footer a {
	text-decoration: none;
	color: #ffffff;
}

footer a:hover {
	text-decoration: none;
	color: #e1e1e1;
}

.soc a {
	margin-right: 20px;
}
.soc a:last-child {
	margin-right: 0;
}

footer ul {
	list-style: none;
	padding-left: 0;
}

/*Media Queries*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	body {
		padding-bottom: 530px;
	}

	#what-to-expect{
		text-align: center;
	}

	.header-large-book>h1 {
		font-size: 50px;
	}


	.tilt-image {
		transform: rotate(0deg);
	}

	.cpr {
		margin-top: 20px;
	}

	footer {
		text-align: center;
		height: 480px;
	}

	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	#what-to-expect{
		text-align: center;
	}
	.tilt-image {
		transform: rotate(0deg);
	}
	.header-large-book>h1 {
		font-size: 80px;
	}
	body {
		padding-bottom: 530px;
	}
	footer {
		height: 480px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}